node_modules
group-match-service/.env
server/.env
.env
bin
out
server/out
./server/out
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.assbin 
*.spp
*.afdesign~lock~
__pycache__
.DS_Store
scene/golfplay/.DS_Store
.DS_Store
scene/src/_game.ts
_game.ts
_game.js
scene/src/_game.ts
scene/src/_game.js
.ethkey
.maticvigil
.secret
.last-block
.playfab-secret
txs.log
wearable-store-service-ft/dist
wearable-store-service-ft/stock-sales.json
indexed-data.json
errors.log
_meta.ts
chain-playfab/dist
shoots.log
scene/src/_meta.ts
chain-playfab/golfclub-minter.log
admin/server/streamURL
.idea
*.afdesign~lock~
*.afdesign~lock~
_cloudscript.js